/*Root variables*/
:root {
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --border-radius: 6px;

  --margin-hero: 240px;
  --margin-large: 96px;
  --margin-medium: 48px;
  --margin-small: 24px;

  --padding: 24px;

  --font-size-large: 18px;
  --font-size-medium: 16px;
  --font-size-small: 14px;

  --line-height-large: 24px;
  --line-height-medium: 22px;
  --line-height-small: 20px;
}

/*Light/dark mode*/
html[data-theme="light"] {
  --primary: #ffffff;
  --secondary: #111111;
  --accent: #999999;
  --border: #f6f6f6;
}

html[data-theme="dark"] {
  --primary: #222222;
  --secondary: #eeeeee;
  --accent: #888888;
  --border: #383838;
}

/*Properties for everything*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Html*/
html {
  scroll-behavior: smooth;
}

/*Body*/
body {
  background-color: var(--primary);
  max-width: 1440px;
  margin: auto;
  opacity: 0;
  animation: fadeIn ease 1000ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 250ms;
}

/*Keyframes for Body animation*/
@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

/*Logo and link arrows that change with Themes*/
html .logo {
  display: inline-block;
  height: 22px;
  width: 22px;
  vertical-align: top;
  background-position: center;
  background-size: contain;
  margin-right: 8px;
}

html[data-theme="light"] .logo {
  background-image: url(../assets/icons/icon-black.png);
}

html[data-theme="dark"] .logo {
  background-image: url(../assets/icons/icon-white.png);
}

html .work-description a span {
  display: inline-block;
  height: 22px;
  width: 22px;
  vertical-align: top;
  background-position: center;
  background-size: contain;
  margin-left: 8px;
}

html[data-theme="light"] .work-description a span {
  background-image: url(../assets/icons/arrow-black.png);
}

html[data-theme="dark"] .work-description a span {
  background-image: url(../assets/icons/arrow-white.png);
}

html[data-theme="light"] .work-description a:hover span {
  background-image: url(../assets/icons/arrow-black.gif);
}

html[data-theme="dark"] .work-description a:hover span {
  background-image: url(../assets/icons/arrow-white.gif);
}

/*Header, Footer*/
header {
  position: sticky;
  top: 0;
  width: calc(100% - var(--margin-small) - var(--margin-small));
  background-color: var(--primary);
  z-index: 99;
}

footer {
  background-color: var(--primary);
}

header .logo,
footer .logo {
  height: var(--line-height-medium);
  vertical-align: top;
}

header nav ul,
footer nav ul {
  list-style: none;
}

/*General classes*/
/*Containers and Work properties*/
.intro-flex,
.work-container,
.private-work {
  display: flex;
  width: 100%;
  gap: var(--margin-medium);
}

.work-container,
.private-work {
  flex-wrap: wrap;
}

.intro-container {
  display: flex;
  height: calc(var(--vh) - 70px - var(--margin-small));
}

.intro-flex {
  align-self: flex-end;
}

.intro-flex nav {
  align-self: flex-end;
  margin-left: auto;
}

.intro-flex nav ul {
  display: flex;
  gap: var(--margin-small);
  list-style: none;
}

.intro-container img {
  max-width: 100%;
  align-self: flex-end;
  border-radius: var(--border-radius);
}

.work-description {
  display: flex;
  justify-content: space-between;
}

.work-preview {
  overflow: hidden;
  background-color: var(--border);
  border-radius: var(--border-radius);
}

.work-preview img {
  aspect-ratio: 4 / 3;
  width: 100%;
  transition: transform 500ms ease;
}

.work-container div:hover .work-preview img,
.private-work div:hover .work-preview img {
  transform: scale(1.025);
  transition: transform 500ms ease;
}

.flex-100 {
  flex: 0 0 100%;
}

.flex-75 {
  display: flex;
  flex: 0 0 calc(75% - var(--margin-small));
}

.flex-50 {
  flex: 0 0 calc(50% - var(--margin-small));
}

.flex-25 {
  display: flex;
  flex: 0 0 calc(25% - var(--margin-small));
}

/*Margin and padding*/
.margin {
  margin-left: var(--margin-small);
  margin-right: var(--margin-small);
}

.padding {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}

.margin-top-hero {
  margin-top: var(--margin-hero);
}

.margin-bottom-hero {
  margin-bottom: var(--margin-hero);
}

.margin-bottom-small {
  margin-bottom: var(--margin-small);
}

/*Fonts*/
.large {
  font-family: var(--system-ui);
  font-size: var(--font-size-large);
  line-height: var(--line-height-large);
}

.medium {
  font-family: var(--system-ui);
  font-size: var(--font-size-medium);
  line-height: var(--line-height-medium);
}

.small {
  font-family: var(--system-ui);
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
}

/*Font styling*/
.not-underlined {
  text-decoration: none;
}

.secondary {
  color: var(--secondary);
}

.accent {
  color: var(--accent);
}

.accent-hover:hover {
  color: var(--accent);
}

/*Media queries*/
@media (width < 769px) {
  .intro-flex,
  footer {
    flex-wrap: wrap;
  }

  .intro-container img {
    max-width: 50%;
    max-height: 75%;
  }

  .flex-100,
  .flex-75,
  .flex-50,
  .flex-25 {
    flex: 1 1 100%;
  }

  .work-container div:hover .work-preview img,
  .private-work div:hover .work-preview img {
    transform: none;
  }

  html[data-theme="light"] .work-description a:hover span {
    background-image: url(../assets/icons/arrow-black.png);
  }

  html[data-theme="dark"] .work-description a:hover span {
    background-image: url(../assets/icons/arrow-white.png);
  }
}

@media (width < 384px) {
  .intro-container img {
    max-width: 100%;
    max-height: 100%;
  }
}
