/* About */
.experience-grid,
.contact-grid {
  display: grid;
  grid-template-columns: minmax(10ch, auto) 1fr;
  gap: var(--spacing-l);
}

/* Description */
.basics-description {
  max-width: 37.5%;
  text-wrap: balance;
}

/* Icon */
.external-icon {
  height: var(--font-size);
  margin-left: var(--spacing-xs);
  vertical-align: middle;
}

/* Availability */
.available {
  color: var(--senary);
}

.partial {
  color: var(--septenary);
}

.unavailable {
  color: var(--octonary);
}

/* Status */
.status-container {
  display: flex;
  gap: var(--spacing-s);
  align-items: center;
}

.status-circle {
  position: relative;
  width: 7px;
  height: 7px;
  background: currentcolor;
  border-radius: var(--border-radius-l);
}

.status-circle::after {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  width: 7px;
  height: 7px;
  content: "";
  background: currentcolor;
  border-radius: var(--border-radius-l);
  opacity: 0.75;
  transform: translate(-50%, -50%);
  animation: pulse 2.5s infinite ease-in-out;
}

.status-label {
  color: currentcolor;
  animation: fade 2.5s infinite ease-in-out;
}

/* Keyframes */
@keyframes pulse {
  0% {
    opacity: 0.75;
    transform: translate(-50%, -50%) scale(1);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(2.125);
  }
}

@keyframes fade {
  0%,
  100% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }
}

/* Breakpoints */
@media (width <= 720px) {
  .basics-description {
    max-width: 87.5%;
  }
}

@media (width <= 480px) {
  .experience-grid {
    grid-template-columns: 1fr;
    gap: var(--spacing-xs);
  }

  .basics-description {
    max-width: 100%;
  }
}
