/* About */
.grid-large {
  display: grid;
  grid-template-columns: minmax(21ch, auto) 1fr;
  gap: var(--spacing-l);
}

.grid-medium {
  display: grid;
  grid-template-columns: minmax(21ch, auto) 1fr;
  gap: var(--spacing-l);
}

/* Description */
.description {
  width: 37.5%;
}

/* Icon */
.icon {
  height: var(--font-size);
  margin-left: var(--spacing-xs);
  vertical-align: middle;
  color: var(--secondary);
}

/* Status */
.status{
  display: flex;
  gap: var(--spacing-s);
  align-items: center;
}

.status-circle {
  position: relative;
  width: 7px;
  height: 7px;
  background: currentcolor;
  border-radius: 100%;
}

.status-circle::after {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  width: 7px;
  height: 7px;
  content: "";
  background: currentcolor;
  border-radius: 50%;
  opacity: 0.75;
  transform: translate(-50%, -50%);
  animation: pulse 2.5s infinite ease-in-out;
}

.status-text {
  color: currentcolor;
  animation: fade 2.5s infinite ease-in-out;
}

/* Availability */
.available{
  color: var(--senary);
}

.partial{
  color: var(--septenary);
}

.unavailable{
  color: var(--octonary);
}

/* Keyframes */
@keyframes pulse {
  0% {
    opacity: 0.75;
    transform: translate(-50%, -50%) scale(1);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(2.125);
  }
}

@keyframes fade {
  0%, 100% { opacity: 0.5; }
  50% { opacity: 1; }
}

/* Breakpoints */
@media (width <= 720px) {
  .description {
    width: 87.5%;
  }
}

@media (width <= 480px) {
  .description {
    width: 100%;
  }

  .grid-large {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
  }

  .grid-large p {
    flex: 100%;
  }

  .grid-medium {
    grid-template-columns: minmax(9ch, auto) 1fr;
  }
}
