/* Carousel */

/* stylelint-disable selector-pseudo-class-no-unknown */
.carousel :global(.embla) {
  cursor: grab;
}

.carousel :global(.embla:active) {
  cursor: grabbing;
}

/* Track */
.track {
  display: flex;
  gap: var(--spacing-s);
  touch-action: pan-y;
}

/* Slide */
.slide {
  flex: 0 0 auto;
  padding: var(--spacing-m);
  user-select: none;
  background-color: var(--quinary);
  border-radius: var(--border-radius-l);
}

.slide:focus {
  outline: none;
}

/* Media */
.media {
  height: 378px;
  user-select: none;
  border-radius: var(--border-radius-m);
}

/* Breakpoints */
@media (width <= 720px) {
  .slide {
    padding: var(--spacing-l);
  }

  .media {
    height: 270px;
  }
}

@media (width <= 480px) {
  .slide {
    padding: var(--spacing-m);
  }

  .media {
    height: 162px;
  }
}
