/* Error */
.error-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100svh - var(--spacing-l) * 2);
}

.error-grid {
  display: grid;
  grid-template-columns: minmax(3ch, auto) 1fr;
  gap: var(--spacing-l);
}

/* Breakpoints */
@media (width <= 720px) {
  .error-container {
    height: calc(100svh - var(--spacing-m) * 2);
  }
}

@media (width <= 480px) {
  .error-container {
    height: calc(100svh - var(--spacing-s) * 2);
  }
}
