/* Header */
.header {
  margin-bottom: var(--spacing-xl);
}

.header nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
}

/* Text */
.header nav ul li a {
  cursor: pointer;
}

.header nav ul li a:hover {
  text-decoration: underline;
}

.header nav ul li a.active {
  text-decoration: underline;
}

/* Alignment */
.header nav ul li:nth-child(2) {
  text-align: center;
}

.header nav ul li:nth-child(3) {
  text-align: right;
}
