/* stylelint-disable selector-pseudo-class-no-unknown */

/* About & Projects */
.projects-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.about-wrapper,
.project-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.about-portrait,
.project-picture {
  width: 48px;
  height: 48px;
  background-color: var(--quinary);
  border-radius: 100%;
}

.about-details,
.project-details {
  display: flex;
  flex-wrap: wrap;
}

/* Carousel */
.carousel-wrapper :global(.embla) {
  height: 100%;
  cursor: grab;
}

.carousel-wrapper :global(.embla:active) {
  cursor: grabbing;
}

.carousel-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  padding: var(--spacing-m);
  overflow: hidden;
  background-color: var(--quinary);
  border-radius: var(--border-radius-l);
}

.carousel-track {
  display: flex;
  height: 100%;
  touch-action: pan-y;
}

.carousel-slide {
  display: flex;
  flex: 0 0 100%;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.carousel-slide:focus {
  outline: none;
}

.slide-media {
  max-width: calc(100% - 2 * var(--spacing-m));
  max-height: calc(100% - 2 * var(--spacing-m));
  user-select: none;
}

/* Dots */
.carousel-dots {
  position: absolute;
  right: var(--spacing-m);
  bottom: calc(3 * var(--spacing-s));
  left: var(--spacing-m);
  display: flex;
  gap: var(--spacing-s);
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
}

.carousel-dot {
  width: 5px;
  height: 5px;
  background-color: var(--septenary);
  border-radius: 100%;
  transition: background-color 0.25s ease-in-out;
}

.carousel-dot.active {
  background-color: var(--octonary);
  transition: background-color 0.25s ease-in-out;
}

@media (hover: hover) {
  .carousel-dots {
    opacity: 0;
  }

  .carousel-wrapper:hover .carousel-dots {
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
  }
}
