/* Home */
.listening-wrapper {
  display: flex;
  width: 100%;
}

.listening-wrapper > div:first-child {
  flex-shrink: 0;
  white-space: nowrap;
}

.listening-carousel {
  display: flex;
  overflow: hidden;
}

.listening-track {
  display: flex;
  width: max-content;
  backface-visibility: hidden;
  animation: marquee 7.5s linear infinite;
  will-change: transform;
}

.listening-group {
  display: flex;
}

.listening-slide {
  display: flex;
  flex-shrink: 0;
  gap: var(--spacing-s);
  margin-right: var(--spacing-xl);
  align-items: center;
  white-space: nowrap;
}

.listening-media {
  flex-shrink: 0;
  width: var(--line-height);
  height: var(--line-height);
  border-radius: var(--border-radius-m);
}

/* Bio */
.bio-wrapper p {
  white-space: pre-line;
}

/* Projects */
.accordion-button {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.accordion-wrapper + .accordion-wrapper .accordion-button {
  border-top: none;
}

.accordion-wrapper:last-child .accordion-content {
  border-bottom: none;
}

/* Keyframes */
@keyframes marquee {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-50%, 0, 0);
  }
}

/* Breakpoints */
@media (width <= 720px) {
}

@media (width <= 480px) {
}
