/* Index */
.button {
  display: grid;
  grid-template-columns: minmax(2ch, auto) 1fr auto;
  gap: var(--spacing-l);
  width: 100%;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
}

.content {
  overflow: hidden;
}

.section {
  display: grid;
  grid-template-columns: minmax(2ch, auto) 1fr;
  gap: var(--spacing-l);
}

.description {
  grid-column: 2;
  width: 37.5%;
}

/* Breakpoints */
@media (width <= 720px) {
  .description {
    width: 75%;
  }
}

@media (width <= 480px) {
  .description {
    width: 87.5%;
  }
}
