/* View styling */
.trigger {
  display: grid;
  grid-template-columns: minmax(2ch, auto) 1fr auto;
  gap: var(--spacing-l);
  padding: var(--spacing-m) 0;
  cursor: pointer;
  border-top: 0.5px solid var(--quinary);
}

.trigger.firstTrigger {
  border-top: none;
}

/* Accordion */
.content {
  overflow: hidden;
}

.description {
  display: grid;
  grid-template-columns: minmax(2ch, auto) 1fr;
  gap: var(--spacing-l);
  margin: 0 0 var(--spacing-l) 0;
}

/* Slideshow */
.slideshow {
  width: 100%;
  margin-bottom: var(--spacing-m);
  overflow: visible;
  cursor: grab;
}

.slideshow:active {
  cursor: grabbing;
}

/* Slideshow item */
.slideshow .media .mediaItem {
  height: 360px;
  width: auto;
  margin: 0 var(--spacing-s) 0 0;
  user-select: none;
  pointer-events: none;
}

/* Text styling */
.trigger p:nth-child(3) {
  text-align: right;
}

.content p {
  width: 37.5%;
}

.description p {
  width: 37.5%;
  grid-column: 2;
}

/* Breakpoints */
@media (max-width: 768px) {
  .slideshow .media .mediaItem {
    height: 280px;
  }

  .description p {
    width: 75%;
  }
}

@media (max-width: 480px) {
  .slideshow .media .mediaItem {
    height: 200px;
  }

  .description p {
    width: 87.5%;
  }
}
