/* Links */
.links {
  display: flex;
  gap: var(--spacing-s);
  margin-top: var(--spacing-l);
}

/* Arrow */
.arrow {
  height: var(--font-size-m);
  color: var(--secondary);
  vertical-align: text-bottom;
}