/* Projects */
.projects-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.project-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.project-picture {
  width: 48px;
  height: 48px;
  user-select: none;
  background-color: var(--color-background-secondary);
  border-radius: 100%;
}

.project-details {
  display: flex;
  flex-wrap: wrap;
}
