/* stylelint-disable selector-pseudo-class-no-unknown */

/* Slideshow */
.slideshow-wrapper :global(.slick-list),
.slideshow-wrapper :global(.slick-track) {
  cursor: grab;
}

.slideshow-wrapper :global(.slick-list:active),
.slideshow-wrapper :global(.slick-track:active) {
  cursor: grabbing;
}

/* Slides */
.slideshow-wrapper :global(.slick-slide) {
  margin-right: var(--spacing-s);
}

.slideshow-wrapper :global(.slick-slide:last-child) {
  margin-right: 0;
}

.media-wrapper {
  padding: var(--spacing-m);
  border-radius: var(--border-radius-l);
  background-color: var(--quinary);
  user-select: none;
}

.media-wrapper:focus {
  outline: none;
}

.media {
  height: 448px;
  border-radius: var(--border-radius-m);
  user-select: none;
}

/* Lightbox */
.lightbox {
  position: fixed;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--senary);
  inset: 0;
  cursor: grab;
  user-select: none;
}

.lightbox-media {
  max-width: 87.5vw;
  max-height: 87.5vh;
  border-radius: var(--border-radius-m);
  object-fit: contain;
  user-select: none;
}

/* Breakpoints */
@media (width <= 720px) {
 .media-wrapper {
    padding: var(--spacing-l);
  }

  .media{
    height: 256px;
  }
}

@media (width <= 480px) {
  .media-wrapper {
    padding: var(--spacing-m);
  }

  .media {
    height: 192px;
  }
}
