/* Slideshow */

/* stylelint-disable selector-pseudo-class-no-unknown */
.slideshow :global(.embla) {
  overflow: hidden;
  cursor: grab;
}

.slideshow :global(.embla:active) {
  cursor: grabbing;
}

/* Track */
.track {
  display: flex;
  gap: var(--spacing-s);
  touch-action: pan-y;
}

.slide {
  flex: 0 0 auto;
  min-width: 0;
  padding: var(--spacing-m);
  user-select: none;
  background-color: var(--quinary);
  border-radius: var(--border-radius-l);
}


/* Slide */
.slide:focus {
  outline: none;
}

/* Media */
.media {
  height: 448px;
  user-select: none;
  border-radius: var(--border-radius-m);
}

/* Breakpoints */
@media (width <= 720px) {
 .slide {
    padding: var(--spacing-l);
  }

  .media{
    height: 256px;
  }
}

@media (width <= 480px) {
  .slide {
    padding: var(--spacing-m);
  }

  .media {
    height: 192px;
  }
}
