/* stylelint-disable selector-pseudo-class-no-unknown */

/* Slideshow */
.slideshow-wrapper :global(.slick-list),
.slideshow-wrapper :global(.slick-track) {
  cursor: grab;
}

.slideshow-wrapper :global(.slick-list:active),
.slideshow-wrapper :global(.slick-track:active) {
  cursor: grabbing;
}

/* Slides */
.slideshow-wrapper :global(.slick-slide) {
  margin-right: var(--spacing-s);
}

.slideshow-wrapper :global(.slick-slide:last-child) {
  margin-right: 0;
}

.media {
  display: inline-block !important;
  width: auto !important;
  height: 320px;
  padding: var(--spacing-xl);
  border-radius: var(--border-radius);
  background-color: var(--quinary);
  user-select: none;
}

/* Lightbox */
.lightbox {
  position: fixed;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--senary);
  inset: 0;
  cursor: grab;
}

.lightbox-media {
  max-width: 87.5vw;
  max-height: 87.5vh;
  object-fit: contain;
  user-select: none;
}

/* Breakpoints */
@media (width <= 720px) {
  .media{
    height: 240px;
    padding: var(--spacing-l);
  }
}

@media (width <= 480px) {
  .media {
    height: 200px;
    padding: var(--spacing-m);
  }
}
