@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

:root {
  --white: #FAFAFA;
  --gray: #777;
  --black: #333;
}

html, body{
  margin: 0;
  padding: 0;
  background-color: var(--white);
}

body{
 margin: 40px;
}

nav{
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: var(--black);
  text-decoration: none;
}

nav ul{

}

nav li{
  list-style: none;
  display: inline;
}

nav li a{
  padding: 8px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--gray);
  text-decoration: none;
}

nav li .active{
  color: var(--black);
}

nav li a:hover{
  color: var(--black);
}

.textdiv{
}

.imageline{
  width: 100%;
}

/* .projectsection{
  position: relative;
}

.projectsection p{

}

.projectsection img{
  width: 100%;
} */

.smalltitle{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--gray);
}

.text{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: var(--black);
}

/* .projecttext{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: var(--gray);
} */

.boldtext{
  font-weight: 500;
}

.hoveritems{
  color: var(--black);
  text-decoration: none;
}

.hoveritems:hover{
  font-weight: 500;
}
