@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

:root {
  --white: #FAFAFA;
  --gray: #777;
  --black: #333;
}

html, body{
  margin: 0;
  padding: 0;
  background-color: var(--white);
}

body{

}

.textdiv{
  margin: 40px;
}

.imageline{
  width: 100vw;
}

/* .projectsection{
  position: relative;
}

.projectsection p{

}

.projectsection img{
  width: 100%;
} */

.bigtitle{
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 32px;
  color: var(--black);
}

.smalltitle{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--gray);
}

.text{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 48px;
  color: var(--black);
  margin-bottom: 80px;
}

/* .projecttext{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: var(--gray);
} */

.boldtext{
  font-weight: 500;
}

.hoveritems{
  color: var(--black);
  text-decoration: none;
}

.hoveritems:hover{
  font-weight: 500;
}
