/* Root */
:root {
  --font-size: 14px;
  --line-height: 20px;
  --font-weight: 400;
  --spacing-xl: 3rem;
  --spacing-l: 1.5rem;
  --spacing-m: 1rem;
  --spacing-s: 0.5rem;
  --spacing-xs: 0.25rem;
  --border-radius: 4px;
}

/* Theming */
@media (prefers-color-scheme: light) {
  :root {
    --primary: rgb(255 255 255);
    --secondary: rgb(0 0 0);
    --tertiary: rgb(77 77 77);
    --quarternary: rgb(128 128 128);
    --quinary: rgb(128 128 128 / 12.5%);
    --senary: rgb(255 255 255 / 87.5%);
  }

  html {
    color-scheme: light;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: rgb(0 0 0);
    --secondary: rgb(255 255 255);
    --tertiary: rgb(204 204 204);
    --quarternary: rgb(153 153 153);
    --quinary: rgb(153 153 153 / 12.5%);
     --senary: rgb(0 0 0 / 87.5%);
  }

  html {
    color-scheme: dark;
  }
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slick-track {
  display: flex !important; /* Stops slideshow from wrapping on small screens */
}

/* Global */
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  padding: var(--spacing-m) var(--spacing-l);
  background: var(--primary);
  color: var(--secondary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

/* Typography utilities */
.color-primary {
  color: var(--primary);
}

.color-secondary {
  color: var(--secondary);
}

.color-tertiary {
  color: var(--tertiary);
}

.color-quaternary {
  color: var(--quarternary);
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.underline {
  text-decoration: underline;
}

.underline-hover:hover {
  text-decoration: underline;
}

.no-underline {
  text-decoration: none;
}

.no-underline-hover:hover {
  text-decoration: none;
}

/* Border */
.border-top {
  border-top: 0.5px solid var(--quinary);
}

.border-right {
  border-right: 0.5px solid var(--quinary);
}

.border-bottom {
  border-bottom: 0.5px solid var(--quinary);
}

.border-left {
  border-left: 0.5px solid var(--quinary);
}

.border-none {
  border: none;
}

/* Padding */
.padding-top-medium {
  padding-top: var(--spacing-m);
}

.padding-right-medium {
  padding-right: var(--spacing-m);
}

.padding-bottom-medium {
  padding-bottom: var(--spacing-m);
}

.padding-left-medium {
  padding-left: var(--spacing-m);
}

/* Margin */
.margin-top-large {
  margin-right: var(--spacing-l);
}

.margin-right-large {
  margin-right: var(--spacing-l);
}

.margin-bottom-large {
  margin-bottom: var(--spacing-l);
}

.margin-left-large {
  margin-left: var(--spacing-l);
}

.margin-top-medium {
  margin-top: var(--spacing-m);
}

.margin-right-medium {
  margin-right: var(--spacing-m);
}

.margin-bottom-medium {
  margin-bottom: var(--spacing-m);
}

.margin-left-medium {
  margin-left: var(--spacing-m);
}

.margin-top-small {
  margin-top: var(--spacing-s);
}

.margin-right-small {
  margin-right: var(--spacing-s);
}

.margin-bottom-small {
  margin-bottom: var(--spacing-s);
}

.margin-left-small {
  margin-left: var(--spacing-s);
}

.margin-top-extra-small {
  margin-top: var(--spacing-xs);
}

.margin-right-extra-small {
  margin-right: var(--spacing-xs);
}

.margin-bottom-extra-small {
  margin-bottom: var(--spacing-xs);
}

.margin-left-extra-small {
  margin-left: var(--spacing-xs);
}

/* Breakpoints */
@media (width <= 720px) {
  body {
    padding: var(--spacing-m);
  }
}

@media (width <= 480px) {
  body {
    padding: var(--spacing-s);
  }
}
