/* Root */
:root {
  --font-size: 14px;
  --line-height: 20px;
  --font-weight: 400;

  --spacing-xl: 3rem;
  --spacing-l: 1.5rem;
  --spacing-m: 1rem;
  --spacing-s: 0.5rem;
  --spacing-xs: 0.25rem;
}

/* Theming */
@media (prefers-color-scheme: light) {
  :root {
    --primary: rgb(255, 255, 255);
    --secondary: rgb(0, 0, 0);
    --tertiary: rgb(77, 77, 77);
    --quarternary: rgb(128, 128, 128);
    --quinary: rgba(128, 128, 128, 0.125);
  }

  html {
    color-scheme: light;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: rgb(0, 0, 0);
    --secondary: rgb(255, 255, 255);
    --tertiary: rgb(204, 204, 204);
    --quarternary: rgb(153, 153, 153);
    --quinary: rgba(153, 153, 153, 0.125);
  }

  html {
    color-scheme: dark;
  }
}

/* Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Global */
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--primary);
  color: var(--secondary);
  padding: var(--spacing-m) var(--spacing-l);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Slick */
.slick-track {
  display: flex !important; /* Stops slideshow from wrapping on small screens */
}

/* Text */
h1,
p,
a {
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-weight: var(--font-weight);
}

h1 {
  margin-bottom: var(--spacing-s);
}

/* Shading */
p.secondary {
  color: var(--secondary);
}

p.tertiary {
  color: var(--tertiary);
}

p {
  color: var(--quarternary);
}

a {
  color: var(--secondary);
  text-decoration: none;
}

/* Breakpoints */
@media (max-width: 768px) {
  body {
    padding: var(--spacing-m);
  }
}

@media (max-width: 480px) {
  body {
    padding: var(--spacing-s);
  }
}
