/* Root */
:root {
  --spacing-xl: 4rem;
  --spacing-l: 2rem;
  --spacing-m: 1rem;
  --spacing-s: 0.5rem;
  --spacing-xs: 0.25rem;
  --font-size: 14px;
  --font-weight: 400;
  --line-height: 20px;
  --border-radius-l: 8px;
  --border-radius-m: 4px;
  --border-radius-s: 2px;
}

/* Theming */
@media (prefers-color-scheme: light) {
  :root {
    --primary: rgb(242 242 242);
    --secondary: rgb(13 13 13);
    --tertiary: rgb(64 64 64);
    --quaternary: rgb(115 115 115);
    --quinary: rgb(230 230 230);
    --senary: rgb(217 217 217);
  }

  html {
    color-scheme: light;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: rgb(13 13 13);
    --secondary: rgb(240 240 240);
    --tertiary: rgb(191 191 191);
    --quaternary: rgb(140 140 140);
    --quinary: rgb(26 26 26);
    --senary: rgb(38 38 38);
  }

  html {
    color-scheme: dark;
  }
}

/* Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Global */
html {
  max-width: 100svw;
  scrollbar-gutter: stable both-edges;
}

body {
  max-width: 576px;
  padding: var(--spacing-xl) var(--spacing-l);
  margin: 0 auto;
  overflow-x: hidden;
  background: var(--primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Text */
h1,
h2,
p,
a {
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  text-wrap: balance;
}

/* Color */
.color-secondary {
  color: var(--secondary);
}

.color-tertiary {
  color: var(--tertiary);
}

.color-quaternary {
  color: var(--quaternary);
}

/* Margin */
.margin-top-extra-large {
  margin-top: var(--spacing-xl);
}

.margin-bottom-extra-large {
  margin-bottom: var(--spacing-xl);
}

.margin-top-large {
  margin-top: var(--spacing-l);
}

.margin-bottom-large {
  margin-bottom: var(--spacing-l);
}

/* Padding */
.padding-top-medium {
  padding-top: var(--spacing-m);
}

.padding-bottom-medium {
  padding-bottom: var(--spacing-m);
}

/* Border */
.border {
  border: 1px solid var(--senary);
}
